.container {
    width: 90%;
    .course-wrapper {
      display: flex;
      padding-top: 50px;
      flex-direction: column;
      row-gap: 10px;
      /*TITLE OF ROW */
      .title {
        > label {
          font-family: SFBOLD;
        }
        .badge {
          margin-left: 10px;
          color: #fff;
          font-family: SFBOLD;
          font-size: 0.6rem;
          display: inline-block;
          padding: 2px;
          background-color: rgb(88, 158, 219);
          border-radius: 5px;
          transform: translate(0%, -30%);
        }
      }
      /*END TITLE OF ROW */
  
      /*ITEM*/
      .list-courses{
          display: flex;
          gap : 20px;
      }
    }
  }
  