
.container{
    display: flex;
    margin: 10px 20px;
    justify-content: center;
    
    .lecture-wrapper{
        width: 100%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .lecture-form{
            gap: 12px;
            width: 30%;
            display: flex;
            flex-direction: column;
        }
        
      
    }
}