.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    .detail-section {
        width: 580px;
        padding: 0px 14px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: auto;
        .title {
            padding: 20px 0px 30px 0px;
            
             >span {
                 font-family: PhilosopherBold;
                 font-size: 2rem;
             }
         }     
        .payment-section{
            display: flex;
            flex-direction: column;
         
             .title-area{
                display: flex;
                h1{
                    font-family: SFBOLD;
                    font-size: 1.7rem;
                }
             }
            
            .select-section{
                display: flex;
                flex-direction: column;
                align-items: center;
                .payment-holder{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                .payment-wrapper{
                    display: flex;
                    flex-direction: column;
                    padding: 10px 0px;
                .icon-wrapper{
                    margin: 2px 0px;
                    width: 100%;
                    align-items: center;
                    padding: 0px 5px;
                    border: 1px solid #d3d9de;
                    background-color: #dfe3e7;
                    .icon{
                        display: flex;
                        padding:1px 6px;
                        background-color: #FFFF;
                        border: 1px solid #b1a6a6;
                    }
                    label{
                        padding: 0 5px;
                        font-family: PhilosopherBold;
                    }
                    .logo-wrapper{
                     display: flex;
                     margin-left: auto;
                  }
                  .logo{
                    display: flex;
                    padding: 1px 5px;
                    background-color: #FFFF;
                    border: 1px solid #b1a6a6;
                   >img{
                    object-fit: contain;
                    height: 26px;
                    width: 26px;
                   }
                }
                .momo {
                    >img{
                        object-fit: contain;
                        height: 24px;
                        width: 24px;
                       }
                }
                }
                .form-wrapper{
                    padding: 10px 0px;
                    display: flex;
                     flex-direction: column;
                     gap: 10px;
                    .field-med{
                        width: 400px;
                    }
                    .field-short{
                        width: 160px;
                    }
                }
            }
            }
            }
            .secure{
                
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-bottom: auto;
                opacity: 0.7;
                >span{
                    font-family: PhilosoperRegular;
                    
                }
            }


        }        
        .detail{
            display: inline-block;
            padding: 20px 0px;
            font-family: SFBOLD;
            font-size: 1.7rem;
        }
       .order-item{
         display: flex;
         align-items: center;
         gap: 10px;
         .name{
            margin-bottom: auto;
            font-family: PhilosopherBold;
         }
         img{
            width: 80px;
            height: 80px;
            object-fit: cover;
         }
       }

        
    }

    .complete-section {

        display: flex;
        flex-direction: column;  
        width: 320px;
        height: 100vh;
        background-color: #ddf7fb;
        padding: 80px 20px;
        
         .title{
            font-family: SFBOLD;
            font-size: 1.7rem;
         }
         .product-price{
            border-bottom: 1.8px solid #dfe3e7;
             padding: 10px 0px;
             .price-wrapper{
                display: flex;
                >span{
                    font-family: PhilosopherRegular;
                    font-size: 1.1rem;
                    padding-top: 5px;
                }
                .price{
                    margin-left: auto;
                    
                }
             }
         }
         .total-price{
            padding: 10px 0px;
            .total-wrapper{
                display: flex;
                >span{
                    font-family: SFBOLD;
                    font-size: 1.1rem;
                    padding-top: 5px;
                }
                .price{
                    margin-left: auto;
                }
            }
         }
        .alert{
            user-select: none;
            margin-top: 24px;
            font-family: PhilosopherRegular;
            font-size: 0.8rem;
            padding-top: 5px;
            .hl{
                cursor: pointer;
                color: purple;
                font-size: 0.8rem;
            }
        } 

        .btn-confirm{
            margin-top: 20px;
            background-color: #0476D0;
            height: 60px;
            font-family: SFBOLD;
            border-radius: 0;
            
        }
        .bot-line{
            margin-top: 10px;
            font-family: PhilosopherRegular;
            opacity: 0.7;
            font-size: 0.8rem;
            text-align: center;
        }

    }

   
 

}