
.container{
    display: flex;
    margin: 10px 20px;
    justify-content: center;
    .course-wrapper{
      padding: 16px;
      gap: 16px;
      width: 100%;
      display: flex;
      flex-direction: column; 
      .course-form{
        display: flex;
        width: 400px;
        flex-direction: column;
        gap: 10px;
      }
      .btn-section{
        padding: 10px 0px;
        gap: 20px;
        display: flex;
        flex-direction: row-reverse;
      }
    }
}