
.container{
    display: flex;
    margin: 10px 20px;
    justify-content: center;
    
    .lesson-wrapper{
        width: 100%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .lesson-form{
            gap: 12px;
            width: 30%;
            display: flex;
            flex-direction: column;
        }
        .btn-section{
            margin-top: 10px;
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;
        }
        
      .video-edit-section {
        width: 30%;
        gap: 10px;
        display: flex;
        flex-direction: column;
      }
    }
}