.left-card {
    background-color: #fffeff;
    position: relative;
    padding: 16% 0px;
    height: 50%;
    .icon-box{
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        justify-content: center;
       
        .icon{      
          
          width: 100%;
          display: flex;
          justify-content: center;
            
            >img,svg{
                
                width: 35%;
                height: 35%;
                filter: brightness(0) saturate(100%) invert(26%) sepia(84%) saturate(2112%) hue-rotate(190deg) brightness(96%) contrast(97%);               
            }
        }
        br{
            width: 100%;
            content: '';
        }
        .text{
           user-select: none;
           font-size: 1vw;
           font-family: SFMEDIUM;      
        }
    }
    .long{
        padding-top: 90%;
    }
    .line-move{
        transition-duration: 0.8s;
        position: absolute;
        z-index: 10;
        background-color: rgb(18, 242, 242);
       
    }
    .bottom{
        left: -5%;
        top: 60%;
        width: 0.2vw;
        height: 40%;
 
    }
    .top{
        left: -5%;
        top: 20%;
        width: 0.2vw;
        height: 40%;
    }
  }