.note{
    .course-title{
      font-family: SFBOLD;
    
    }
    .lesson-title{
      padding-left: 10px;
      font-family: SFMEDIUM;
      font-size: 0.9rem;
    }

   }
   .bottom{
      padding: 16px;
      background-color: #f7f9fa;
   }